<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552721723679-3h55npm8qj17bgkvjuqb88dm0pc73ir8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552721723679-3h55npm8qj17bgkvjuqb88dm0pc73ir8</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ECYv1_CRNelQpbvxMNDOxc9nqwdscM4</string>
	<key>GCM_SENDER_ID</key>
	<string>552721723679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lyons.precastr</string>
	<key>PROJECT_ID</key>
	<string>precastr-51971</string>
	<key>STORAGE_BUCKET</key>
	<string>precastr-51971.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552721723679:ios:24d5441dcb1351c2</string>
	<key>DATABASE_URL</key>
	<string>https://precastr-51971.firebaseio.com</string>
</dict>
</plist>